{% extends 'project-base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-img">
    <div class="row h-100">
        <div class="col-12 my-auto text-center">
            <div class="brand-description shadow">
                <h1 class="display-4 text-white text-uppercase text-center">
                    Ethical Accessories for Dogs
                </h1>
            </div>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn rounded-0 text-uppercase py-2 shadow">
                        Shop Now
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-12 col-sm-6 desc-col">
            <h2 class="desc-header">Designed for outdoor days and everday.</h2>
            <p class="text-left desc-text">
                KOKO makes premium quality, go anywhere dog gear. Modern and stylish for exploring the city and rugged
                enough for roaming the great outdoors.

                Each collar and leash is made from eco-friendly, ultra-soft sari fabric and recycled bicycle inner tubes
                that are easy to clean, scratch proof, strong and super comfortable for your pup.
            </p>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}"
                        class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2 shadow">Shop
                        Now</a>
                </h4>
            </div>
        </div>
        <div class="col-6 p-0 d-none d-md-block">
            <img src="{{ MEDIA_URL }}desc-img.jpg" class="img-fluid" alt="Clara & Tia">
        </div>
    </div>
</div>
<div class="container-fluid key-points-div">
    <div class="row text-center key-points">
        <div class="col">
            <i class="fas fa-leaf"></i>
            <h2 class="text-uppercase">Eco-Friendly</h2>
        </div>
        <div class="col">
            <i class="fas fa-hand-holding-heart"></i>
            <h2 class="text-uppercase">Charitable</h2>
        </div>
        <div class="col">
            <i class="fas fa-tint"></i>
            <h2 class="text-uppercase">Water Resistant</h2>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <img src="{{ MEDIA_URL }}banner-img.jpg" class="img-fluid" alt="Clara & Tia">
    </div>
</div>
<!-- Testimonials -->
<div class="container-fluid testimonials pt-2">
    <div class="container">
        <div id="myCarousel" class="carousel p-2 slide" data-ride="carousel" data-interval="8000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner pt-3">
                <div class="carousel-item active text-center">
                    <h3>"The best collar I've bought ever! I totally love how colourful they are and puffles looks
                        simply adorable! I get compliments every time i'm on a walk!"</h3>
                    <br>
                    <p>Jessie - Oxford, UK</p>
                </div>
                <div class="carousel-item text-center">
                    <h3>"I've been a fan of KOKO collective for a long time as all the products use recycled materials
                        I recently bought a full set including a collar, lead and bandana!!"
                    </h3>
                    <br>
                    <p>James - Liverpool, UK</p>
                </div>
                <div class="carousel-item text-center">
                    <h3>"Love all the colour this adds to my life! I have a hectic spaniel and these collars can
                        withstand everything he throws at them!
                        Yes I have multiple! Highly recommend!"
                    </h3>
                    <br>
                    <p>Billy - Brighton, UK</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row ">
        <div class="col text-center mt-3">
            <h2 class="m-3 new-collection">SHOP THE NEW COLLECTION</h2>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-8 offset-2">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                <!-- Loops out featured products for homepage -->
                {% for product in products %}
                {% if product.is_featured %}
                <div class="col-sm-6 col-md-6 col-lg-4">
                    <div class="card h-100 border-0">

                        {% if product.main_image %}
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.main_image.url }}"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}

                        <div class="card-body pb-0">
                            <p class="mb-0">{{ product.name }}</p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                                    {% if product.rating %}
                                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} /
                                        5</small>
                                    {% else %}
                                    <small class="text-muted">No Rating</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                <div class="col-12 d-sm-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-auto text-center my-5">
            <h4>
                <a href="{% url 'products' %}"
                    class="shop-now-button btn btn-lg rounded-0 text-uppercase py-2 shadow">View
                    All</a>
            </h4>
        </div>
    </div>
</div>
<!-- Section with links to products page prefiltered -->
<div class="container-fluid banner-links pb-4">
    <div class="row">
        <div class="col-md-4 card-banner-item">
            <div class="card h-100 border-0 m-2">
                <div class="card-body pb-0">
                    <img src="{{ MEDIA_URL }}full-set-home.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-footer pt-0 border-0 text-center">
                    <a href="{% url 'products' %}?category=dog_collars,dog_leads,dog_bandanas"
                        class="banner-card-buttons btn btn-lg rounded-0 text-uppercase py-2 shadow">SHOP FULL SETS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-banner-item">
            <div class="card h-100 border-0 m-2">
                <div class="card-body pb-0">
                    <img src="{{ MEDIA_URL }}flash-bandana.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-footer pt-0 border-0 text-center">
                    <a href="{% url 'products' %}?category=dog_bandanas"
                        class="banner-card-buttons btn btn-lg rounded-0 text-uppercase py-2 shadow">SHOP BANDANAS</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 card-banner-item">
            <div class="card h-100 border-0 m-2">
                <div class="card-body pb-0">
                    <img src="{{ MEDIA_URL }}wb-home.jpg" class="img-fluid" alt="">
                </div>
                <div class="card-footer pt-0 border-0 text-center">
                    <a href="{% url 'products' %}?category=wb_dispensers"
                        class="banner-card-buttons btn btn-lg rounded-0 text-uppercase py-2 shadow">SHOP DISPENSERS</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col p-0">
            <h2 class="handmade-text text-uppercase">
                Handmade in India
            </h2>
            <img src="{{ MEDIA_URL }}handmade-banner.jpg" class="img-fluid w-100" alt="Artisan Sewing">
            <a href="{% url 'about' %}" class="handmade-button btn btn-lg rounded-0 text-uppercase py-2 shadow">
                Find out more
            </a>
        </div>
    </div>
</div>
{% endblock %}