{% extends 'project-base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 hero-img">
    <div class="row h-100 bg-black">
        <div class="col-12 my-auto text-center">
            <div class="brand-description">
                <h1 class="display-4 text-white text-uppercase text-center">
                    Ethical Accessories for Dogs
                </h1>
            </div>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-6 desc-col">
            <h2 class="desc-header">Designed for outdoor days and everday.</h2>
            <p class="text-left desc-text">
                KOKO makes premium quality, go anywhere dog gear. Modern and stylish for exploring the city and rugged
                enough for roaming the great outdoors.

                Each collar and leash is made from eco-friendly, ultra-soft sari fabric and recycled bicycle inner tubes
                that are easy to clean, scratch proof, strong and super comfortable for your pup.
            </p>
            <div class="my-5">
                <h4>
                    <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
        <div class="col-6 p-0">
            <img src="{% static '../media/desc-img.jpg' %}" class="img-fluid" alt="Clara & Tia">
        </div>
    </div>
</div>
<div class="container-fluid key-points-div">
    <div class="row text-center key-points">
        <div class="col">
            <i class="fas fa-leaf"></i>
            <h2 class="text-uppercase">Eco-Friendly</h2>
        </div>
        <div class="col">
            <i class="fas fa-hand-holding-heart"></i>
            <h2 class="text-uppercase">Charitable</h2>
        </div>
        <div class="col">
            <i class="fas fa-tint"></i>
            <h2 class="text-uppercase">Water Resistant</h2>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <img src="{% static '../media/banner-img.jpg' %}" class="img-fluid" alt="Clara & Tia">
    </div>
</div>
<div class="container-fluid testimonials">
    <div class="carousel-fade p-5" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active text-center m-5">
              <h3>"The best collar I've bought thus far! I totally love how colourful they are and puffles looks simply adorable!</h3>
              <p>Jessie - Oxford, UK</p>
          </div>
          <div class="carousel-item">
            <div class="carousel-item active text-center">
                <h3>"The best collar I've bought thus far! I totally love how colourful they are and puffles looks simply adorable!</h3>
                <p>Jessie - Oxford, UK</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-item active text-center">
                <h3>"The best collar I've bought thus far! I totally love how colourful they are and puffles looks simply adorable!</h3>
                <p>Jessie - Oxford, UK</p>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}