@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    height: 100%;
}

body {
    position: relative;
    min-height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.dropdown-menu a:active {
    background-color: white !important;
}

#page-container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 130px;
}

/* Nav Menu */

#menuToggle {
    display: none;
}



.dropdown-menu {
    background: #FAB561;
    text-align: center;
    left: 10%;
}

.dropdown-menu.show {
    border-radius: 0;
}

#secondary-menu > ul > li.list-inline-item.dropdown.show > div {
    transform: translate3d(-25px, 56px, 0px) !important;
}

.dropdown-item {
    font-weight: 200;
}

.open {
    background-color: #3c3c3c;
    width: 26px;
    height: 4px;
    display: block;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    top: 8px;
    transition: all 0.3s ease;
}

.open:before {
    content: "";
    background-color: #3c3c3c;
    width: 26px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: -8px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.open:after {
    content: "";
    background-color: #3c3c3c;
    width: 26px;
    height: 4px;
    display: block;
    border-radius: 2px;
    position: relative;
    top: 4px;
    transform: rotate(0deg);
    transition: all 0.3s ease;
}

.menuOpen {
    width: 24px;
    display: block;
    padding: 25px;
    cursor: pointer;
    float: left;
}

.menuOpen:hover .open {
    width: 32px;
}

.menuOpen:hover .open:before {
    width: 32px;
}

.menuOpen:hover .open:after {
    width: 32px;
}

.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-y: scroll;
    background: #FAB561;
}

.menu-icon p {
    font-size: 20px;
}

.menu-icon i {
    font-size: 24px;
}

.menu label {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 20px;
    background-size: 100%;
    cursor: pointer;
}

.menu .menuContent {
    position: relative;
    top: 35%;
    font-size: 54px;
    text-align: center;
    padding-bottom: 20px;
    margin-top: -170px;
    overflow-y: visible;
}


.menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.menu ul li a {
    display: block;
    color: black;
    text-decoration: none;
    transition: color 0.2s;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 10px 10px;
}

.menu ul li a:hover {
    transition: ease-in-out 0.2s;
    transform: scale(1.1);

}

/* .menu ul li:hover {
    background: white;
} */

.menuEffects {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

/* .menuEffects ul {
    transform: translateY(0%);
    transition: all 0.5s;
  } */

#menuToggle:checked~.menuEffects {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

#menuToggle:checked~.menuEffects ul {
    opacity: 1;
}

#menuToggle:checked~.menuOpen .open {
    background-color: transparent;
}

#menuToggle:checked~.menuOpen .open:before {
    content: "";
    background-color: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#menuToggle:checked~.menuOpen .open:after {
    content: "";
    background-color: white;
    transform: rotate(-45deg);
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

#menuToggle:not(:checked)~.menuEffects ul {
    transform: translateY(-30%);
}

.hero-img {
    background: url('/media/hero.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh !important;
}


#logo-img {
    height: 100px;
    margin-bottom: 5px;
}



.desc-col {
    padding: 25px;
}

.desc-header {
    font-size: 42px;
    margin-bottom: 20px;
    color: black;
}

.desc-text {
    font-size: 28px;
}

.key-points i {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #000;
}

.key-points-div {
    padding: 35px 0px;
    background-color: #E3C0D3;
}

.testimonials {
    background-color: #077187;
}

.carousel-item {
    color: white;
}

.brand-description {
    background-color: #077187;
    margin: auto;
    width: 650px;
    height: 140px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.3rem;
    width: 1.3rem;
    font-size: 18px;
    color: black;
}

i.fa-bars.icon {
    font-size: 24px;
}

.shop-now-button {
    background: #FAB561;
    color: white;
    max-width: 260px;
}

.banner-card-buttons {
    background: #FAB561;
    color: white;
    max-width: 260px;
    position: absolute;
    bottom: 5px;
    left: 25%;
    right: 25%;
}

.handmade-button {
    background: #077187;
    color: white;
    min-width: 260px;
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.handmade-text {
    font-size: 48px;
    color: white;
    position: absolute;
    bottom: 22%;
    right: 5%;
}

.btn-black {
    background: #FAB561;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.delivery-banner {
    background-color: #E3C0D3;
    width: 100%;
}

.banner-links {
    background-color: #E3C0D3;
}

.delivery-banner p {
    margin: 0.5rem 0;
}

.card-banner-item {
    padding: 25px 25px;
}

.card {
    background-color: unset;
}

.card-footer {
    background-color: unset;
}

/*------ Footer -----*/

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
}

.page-footer {
    background-color: #FAB561;
}

footer ul li {
    display: inline;
    font-size: 35px;
    margin-right: 10px;
    margin-left: 5px;
}

.social-links li i {
    color: #000;
}

.social-links li i:hover {
    transition: 0.2s ease-in-out;
    color: #fff;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

a.category-badge>span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 150px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    #logo-img {
        height: 60px;
    }

    .menu .menuContent {
        font-size: 32px;
    }
}

@media (min-width: 326px) {
    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 320px) {
    #page-container {
        padding-top: 60px;
    }

    .delivery-banner p {
        font-size: 14px;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.wishlist-icon i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    color: black;
    background-color: #FAB561;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 35px;
    font-size: 18px;
}

.fa-trash-alt {
    color: red;
}

.btn-outline-grey {
    border: 1px solid #ced4da;
}