@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

html {
    height: 100%;
}

body {
    height: calc(100vh - 164px);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.hero-img {
    background: url('/media/hero.jpg') no-repeat center center;
    background-size: cover;
}

#logo-img {
    height: 100px;
    margin-bottom: 5px;
}

.desc-col {
    padding: 25px;
}

.desc-header {
    font-size: 42px;
    margin-bottom: 20px;
    color: black;
}

.desc-text {
    font-size: 28px;
}

.key-points i {
    font-size: 48px;
    margin-top: 10px;
    margin-bottom: 25px;
    color: #000;
}

.key-points-div {
    padding: 35px 0px;
    background-color: #E3C0D3;
}

.testimonials {
    background-color: #077187;
}

.carousel-item {
    color: white;
}

.brand-description {
    background-color: #077187;
    margin: auto;
    width: 650px;
    height: 140px;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.3rem;
    width: 1.3rem;
    font-size: 18px;
    color: black !important;
}

.shop-now-button {
    background: #FAB561;
    color: white;
    min-width: 260px;
}

.banner-card-buttons {
    background: #FAB561;
    color: white;
    min-width: 260px;
    position: absolute;
    bottom: 5px;
    left: 25%;
    right: 25%;
}

.handmade-button {
    background: #077187;
    color: white;
    min-width: 260px;
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.handmade-text {
    font-size: 48px;
    color: white;
    position: absolute;
    bottom: 22%;
    right: 5%;
}   

.btn-black {
    background: #FAB561;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.delivery-banner {
    background-color: #E3C0D3;
    width: 100%;
}

.banner-links {
    background-color: #E3C0D3;
}

.delivery-banner p {
    margin: 0.5rem 0;
}

.card-banner-item {
    padding: 25px 25px;
}

.card {
    background-color: unset;
}

.card-footer {
    background-color: unset;
}

/*------ Footer -----*/

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.page-footer {
    background-color: #FAB561;
}

footer ul li{
    display: inline;
    font-size: 35px;
    margin-right: 10px;
    margin-left: 5px;
  }

.social-links li i {
    color: #000;
}
  
  .social-links li i:hover {
      transition: 0.2s ease-in-out;
      color: #fff;
  }
/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 326px) {
    .header-container {
        padding-top: 164px;
    }
}